/* Aya Start */



/* Aya end */

/* Hewr Start */




/* Hewr End */

/* Randa Start */



/* Ahmed */
.header-properties{
    background-color:black;
    opacity: .9;
    color:gray;
    height:100vh;
    font-size: 16px;
  }
  .dim{
    margin: 0 26%; 
  }
  .font-size-header{
    font-size: 61px;
  }
  .font-size-header span{
    color: blueviolet;
  }
  .nav-proper{
    opacity: 0.9;
    color: inherit;
    z-index: 22;
    margin: 4% 3%;
  }
  .my-picture-dimension{
    margin-top: 4%;
    margin-right: -10%;
  }
  .my-text-dimension{
   margin-right:-10% ; 
  }
/* header section */

.naving{
    width:98%;
    height:10%;
    background-color:blue;
    position:fixed;
    top:0;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    
    align-items: center;
    margin: 1.5% 1%;
}
.div-header-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-right: 20%;
    padding-top: 2%;
}
.header-list>li{
    padding: 0 1.5%;
}
.zero-badge{
    display:relative;
    background-color: purple;
    color:white;
    font-weight: bold;
    border-radius: 50%;
    
    
}
.icon-shoping{
    color:wheat;
    position:relative;
    top: 75%;
    right: 13%;
    z-index: 1;
}
.btn-class{
    background-color: purple;
    color: white;
    box-sizing: border-box;
   
   
}
.btn-btn{
    background-color: inherit;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5;

}
.span-header-watch{
    color: blueviolet;
    font-size: inherit;
}
.text-gray{
    color:#A1A1A1;
}
.color-nav{
    background-color: black;
    opacity: .9;
}


.center-content{
    display: flex;
    justify-content: center;
}
.cart-icon{
    color: cornsilk;
   
}
.anchor-cart{
    margin-left: 20%;
    margin-right: 3%;
}
.buy-shop{
    margin: 0 20px;
    margin-left: 25%;
    padding: 0 10px;
    left: radius 50%; ;
    right: radius 50%;
}
.watch{
    height:45vah ;
    width: 40vw;
}
.big-section-header{
    position: absolute;
    top: 5%;
}
/* footer section */
footer{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
}
div.social-media-icons{
    display: flex;
    flex-direction: row;
    background-color: purple;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
}
div.social-media-icons ul.social-media-icons-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul.social-media-icons-list >li{
    padding: 10px;
}



.background-footer{
    background-color:#363636;  
}

.big-container-cards-footer{
    padding-top: 50px;
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    color: aliceblue;
}

h3#jelevin{
    font-weight: bold;
    text-align: left;
    font-size: 40px;
}

#last-line-first-card{
    float: left;
}

.ul-footer{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer-cards{
    background-color: inherit;
    width: 399.3px;
    height: 240px;
    padding:35px 15px 0;
    text-align: center;
}

.p-fonts-footer-sections{
    color:#A1A1A1;
    font-weight: 16px;
    margin-bottom: 15px;
    text-decoration: none;  
    opacity: 0.8;
}

.a-fonts-footer-sections{
    color:#A1A1A1;
    font-weight: 16px;
    margin-bottom: 15px;
    text-decoration: none;  
    opacity: 0.8;
}
.a-fonts-footer-sections:hover{
    text-decoration: none;
    opacity: 2;
    color: #A1A1A1;
}


h6.p-fonts-footer-sections{
    color: #f1f1f1;;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
    align-self: center;
}

#far-header{
    padding-right:50px;
}

.center{
    display: flex;
    justify-content: center;
}

.ul-footer > li{
    margin-top: 10px;
    align-self:flex-start;
    padding-left: 80px;  
}

#last-line-in-footer{
    background-color: inherit;
    width:960px;
    height:128;
    text-align: center;
}

.last-div-footer{
    margin: 50px 0;
}

.icons-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;      
}

.icons-list > li {
    padding: 0 10px;
}
 /* it does not work */

.icon-color{                                      
    color: lightgray;
    opacity: 0.5;
}
.icon-color:hover {opacity: 2}


/* Ahmed End */